<% include ./template/header.ejs %>
<div class="container">

    <% include ./template/alert.ejs %>

    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <!--<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="/forgot">Forgot password?</a></div>-->
            </div>

            <div style="padding-top:30px" class="panel-body">

                <form id="loginform" method="post" action="/login" class="form-horizontal" role="form" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

                    <div class="form-group">
                        <div class="controls">
                            <div class="myCon input-group">
                                <span class="input-group-addon" for="username"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="username" type="text" class="form-control" name="username" value=""
                                       required data-bv-notempty-message="Username is required and cannot be empty"
                                       placeholder="username">
                            </div>
                        </div>
                    </div>

                    <div  class="form-group">
                        <div class="controls">
                            <div class="myCon input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" class="form-control" name="password"
                                       required data-bv-notempty-message="Password is required and cannot be empty"
                                       data-bv-stringlength="true" data-bv-stringlength-min="6" data-bv-stringlength-max="30" data-bv-stringlength-message="The Password must be more than 6 and less than 30 characters long"
                                       placeholder="password">
                            </div>
                        </div>
                    </div>

                    <!--
                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                            </label>
                        </div>
                    </div> -->


                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>
                                &nbsp Login
                            </button>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                Don't have an account!
                                <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                    Sign Up Here
                                </a>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <div id="signupbox" style="display:none; margin-top:50px"
         class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#"
                                                                                           onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign
                        In</a></div>
            </div>
            <div class="panel-body">
                <form id="signupform" class="form-horizontal" action="/users/register" method="post" role="form">

                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>


                    <div class="form-group">
                        <label for="username" class="col-md-3 control-label">Username</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" name="username"
                                   required data-bv-notempty-message="Email is required and cannot be empty"
                                   data-bv-different="true" data-bv-different-field="password" data-bv-different-message="The username and password cannot be the same as each other"
                                   placeholder="Username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">First Name</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" name="firstname"
                                   required data-bv-notempty-message="First Name is required and cannot be empty"
                                   placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label">Last Name</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" name="lastname"
                                   required data-bv-notempty-message="Last Name is required and cannot be empty"
                                   placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password</label>

                        <div class="col-md-9">
                            <input type="password" class="form-control" name="password"
                                   required data-bv-notempty-message="Password is required and cannot be empty"
                                   data-bv-stringlength="true" data-bv-stringlength-min="6" data-bv-stringlength-max="30" data-bv-stringlength-message="The Password must be more than 6 and less than 30 characters long"
                                   data-bv-different="true" data-bv-different-field="username" data-bv-different-message="The username and password cannot be the same as each other"
                                   placeholder="Password">
                        </div>
                    </div>


                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>
                                &nbsp Sign Up
                            </button>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#loginform').bootstrapValidator();
        $('#signupform').bootstrapValidator();
    });
</script>
<% include ./template/footer.ejs %>
